@import url(../fonts/snap/stylesheet.css);

body, html {
  font-family: 'snap.seregular', sans-serif;
  font-size: 15px;
  width: 100%;
  min-height: 100%;
  margin: 0 0;
  padding: 0 0;
  background-color: #383838;
}

.body-container {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em;
  color: #666;
}

a {
  text-decoration: none;
  color: #09f;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

textarea {
  resize: none;
  max-height: 90%;
}

#code-input {
  position: absolute;
  bottom: 1em;
  left: 1em;
  border: none;
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
  padding: 0.5em;
  border-radius: 3px;
  font-size: 1.25em;
  font-family: "snap.seregular", sans-serif;
  text-shadow: #EEEEEE 0 0 10px;
  filter: glow(color=#EEEE00,strength=3);
}

#help {
  position: absolute;
  color: #eee;
  top: 1em;
  right: 1em;
  font-size: 3em;
  font-family: "snap.seregular", sans-serif;
  text-shadow: #EEEEEE 0 0 10px;
  filter: glow(color=#EEEE00,strength=3);
}

#help-text {
  position: absolute;
  color: #eee;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 2em;
  padding-top: 3.5em;
  border-radius: 3px;
  top: 1em;
  right: 1em;
  width: 600px;
  max-width: 100%;
  font-size 3em;
  font-family: "snap.seregular", sans-serif;
  text-shadow: #EEEEEE 0 0 10px;
  filter: glow(color=#EEEE00,strength=3);
}

#help-text iframe {
  max-width: 100%;
}

#help-text code {
  font-family: "snap.seregular", sans-serif;
}

#start-help {
  font-size: 2em;
  position: absolute;
  left: 8em;
  bottom: 4em;
}
